@using HotelProject.Business.Responses.SendMessage
@using HotelProject.Entities.Dto_s.SendMessageDto

@model HotelProject.Business.Requests.SendMessage.UpdateSendMessageRequest

@{
    Layout = "_Layout";
}

<form method="post" asp-action="UpdateSendMessage" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" asp-for="ReceiverName" placeholder="Receiver Name" aria-label="ReceiverName" required />
    </div>
    <div class="input-group flex-nowrap">
        <input type="email" class="form-control" asp-for="ReceiverMail" placeholder="Receiver Mail" aria-label="ReceiverMail" required />
    </div>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" asp-for="SenderName" placeholder="Sender Name" aria-label="SenderName" required />
    </div>
    <div class="input-group flex-nowrap">
        <input type="email" class="form-control" asp-for="SenderMail" placeholder="Sender Mail" aria-label="SenderMail" required />
    </div>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" asp-for="Title" placeholder="Title" aria-label="Title" required />
    </div>
    <div class="input-group flex-nowrap">
        <textarea class="form-control" asp-for="Content" placeholder="Content" aria-label="Content" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>
