@using HotelProject.Business.Responses.Contact
@using HotelProject.Entities.Dto_s.ContactDto
@{
    Layout = "_Layout";
}

<form method="post" enctype="multipart/form-data">
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="Name" id="Name" placeholder="Name" aria-label="Name">
    </div>
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="Mail" id="Mail" placeholder="Mail" aria-label="Mail">
    </div>
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="Subject" id="Subject" placeholder="Subject" aria-label="Subject">
    </div>
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="Message" id="Message" placeholder="Message" aria-label="Message">
    </div>
    <div class="input-group flex-nowrap">

        <input type="number" class="form-control" name="MessageCategoryID" id="MessageCategoryID" placeholder="MessageCategoryID" aria-label="MessageCategoryID">
    </div>
   

    <button type="submit" class="btn btn-primary">Ekle</button>
</form>