@using HotelProject.Business.Responses.Contact
@using HotelProject.Entities.Dto_s.ContactDto

@model HotelProject.Business.Requests.Contact.UpdateContactRequest

@{
    Layout = "_Layout";
}

<form method="post" asp-action="UpdateContact" asp-controller="Contact" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div class="input-group flex-nowrap">
        <input asp-for="Name" class="form-control" placeholder="Name" aria-label="Name" />
    </div>
    <div class="input-group flex-nowrap">
        <input asp-for="Mail" class="form-control" placeholder="Mail" aria-label="Mail" />
    </div>
    <div class="input-group flex-nowrap">
        <input asp-for="Subject" class="form-control" placeholder="Subject" aria-label="Subject" />
    </div>
    <div class="input-group flex-nowrap">
        <input asp-for="Message" class="form-control" placeholder="Message" aria-label="Message" />
    </div>
    <div class="input-group flex-nowrap">
        <input asp-for="MessageCategoryID" type="number" class="form-control" placeholder="MessageCategoryID" aria-label="MessageCategoryID" />
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>
