@using HotelProject.Business.Responses.User
@using HotelProject.Entities.Dto_s.UserDto
@{
    Layout = "_Layout";
}

<form method="post" enctype="multipart/form-data">
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="Name" id="Name" placeholder="Name" aria-label="Name">
    </div>
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="Surname" id="Surname" placeholder="Surname" aria-label="Surname">
    </div>
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="City" id="City" placeholder="City" aria-label="City">
    </div>
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="Country" id="Country" placeholder="Country" aria-label="Country">
    </div>
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="Gender" id="Gender" placeholder="Gender" aria-label="Gender">
    </div>
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="WorkDepartment" id="WorkDepartment" placeholder="WorkDepartment" aria-label="WorkDepartment">
    </div>
    <div class="input-group flex-nowrap">

        <input type="number" class="form-control" name="WorkLocationID" id="WorkLocationID" placeholder="WorkLocationID" aria-label="WorkLocationID">
    </div>


    <button type="submit" class="btn btn-primary">Ekle</button>
</form>