@using HotelProject.Business.Responses.User
@using HotelProject.Entities.Dto_s.UserDto

@model HotelProject.Business.Requests.User.UpdateUserRequest

@{
    Layout = "_Layout";
}

<form asp-action="UpdateAbout" asp-controller="About" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" asp-for="Name" placeholder="Name" aria-label="Name" required />
    </div>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" asp-for="Surname" placeholder="Surname" aria-label="Surname" required />
    </div>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" asp-for="City" placeholder="City" aria-label="City" required />
    </div>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" asp-for="Country" placeholder="Country" aria-label="Country" required />
    </div>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" asp-for="Gender" placeholder="Gender" aria-label="Gender" required />
    </div>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" asp-for="WorkDepartment" placeholder="Work Department" aria-label="WorkDepartment" required />
    </div>
    <div class="input-group flex-nowrap">
        <input type="number" class="form-control" asp-for="WorkLocationID" placeholder="Work Location ID" aria-label="WorkLocationID" required />
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>
