@using HotelProject.Business.Responses.Guest
@using HotelProject.Entities.Dto_s.GuestDto

@model HotelProject.Business.Requests.Guest.UpdateGuestRequest

@{
    Layout = "_Layout";
}

<form method="post" asp-action="UpdateGuest" asp-controller="Guest" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div class="input-group flex-nowrap">
        <input asp-for="Name" class="form-control" placeholder="Name" aria-label="Name" />
    </div>
    <div class="input-group flex-nowrap">
        <input asp-for="Surname" class="form-control" placeholder="Surname" aria-label="Surname" />
    </div>
    <div class="input-group flex-nowrap">
        <input asp-for="City" class="form-control" placeholder="City" aria-label="City" />
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>
