@using HotelProject.Business.Responses.Room
@using HotelProject.Entities.Dto_s.RoomDto
@model HotelProject.Business.Requests.Room.AddRoomRequest

@{
    Layout = "_Layout";
}

 <div style="margin-top:10%">
<form method="post" asp-action="AddRoom" asp-controller="Room" enctype="multipart/form-data">
    <div class="input-group flex-nowrap">
        <input asp-for="RoomNumber" class="form-control" placeholder="Room Number" aria-label="RoomNumber" />
    </div>
    <div class="input-group flex-nowrap">
        <input asp-for="RoomCoverImage" class="form-control" placeholder="Room Cover Image" aria-label="RoomCoverImage" />
    </div>
    <div class="input-group flex-nowrap">
        <input asp-for="Price" class="form-control" type="number" placeholder="Price" aria-label="Price" />
    </div>
    <div class="input-group flex-nowrap">
        <input asp-for="Title" class="form-control" placeholder="Title" aria-label="Title" />
    </div>
    <div class="input-group flex-nowrap">
        <input asp-for="BedCount" class="form-control" placeholder="Bed Count" aria-label="BedCount" />
    </div>
    <div class="input-group flex-nowrap">
        <input asp-for="BathCount" class="form-control" placeholder="Bath Count" aria-label="BathCount" />
    </div>
    <div class="input-group flex-nowrap">
        <input asp-for="Wifi" type="checkbox" aria-label="Wifi" />
        <label for="Wifi" class="form-check-label">Wifi</label>
    </div>
    <div class="input-group flex-nowrap">
        <input asp-for="Description" class="form-control" placeholder="Description" aria-label="Description" />
    </div>

    <button type="submit" class="btn btn-primary">Ekle</button>
</form>
</div>
