@using HotelProject.Business.Responses.Room
@using HotelProject.Entities.Dto_s.RoomDto
@model HotelProject.Business.Requests.Room.UpdateRoomRequest

@{
    Layout = "_Layout";
}

<form method="post" asp-action="UpdateRoom" asp-controller="Room" enctype="multipart/form-data">
    <div class="input-group flex-nowrap">
        <input type="hidden" class="form-control" asp-for="Id" aria-label="Id">
    </div>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" asp-for="RoomNumber" placeholder="Room Number" aria-label="RoomNumber">
    </div>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" asp-for="RoomCoverImage" placeholder="Room Cover Image" aria-label="RoomCoverImage" />
    </div>
    <div class="input-group flex-nowrap">
        <input type="number" class="form-control" asp-for="Price" placeholder="Price" aria-label="Price">
    </div>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" asp-for="Title" placeholder="Title" aria-label="Title">
    </div>
    <div class="input-group flex-nowrap">
        <input type="number" class="form-control" asp-for="BedCount" placeholder="Bed Count" aria-label="BedCount">
    </div>
    <div class="input-group flex-nowrap">
        <input type="number" class="form-control" asp-for="BathCount" placeholder="Bath Count" aria-label="BathCount">
    </div>
    <div class="input-group flex-nowrap">
        <input type="checkbox" class="form-check-input" asp-for="Wifi" aria-label="Wifi">
        <label class="form-check-label" for="Wifi">Wifi</label>
    </div>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" asp-for="Description" placeholder="Description" aria-label="Description">
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>
