@using HotelProject.Business.Responses.Booking
@using HotelProject.Entities.Dto_s.BookingDto
@{
    Layout = "_Layout";
}

<form method="post" enctype="multipart/form-data">
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="Name" id="Name" placeholder="Name" aria-label="Name">
    </div>
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="Mail" id="Mail" placeholder="Mail" aria-label="Mail">
    </div>
    <div class="input-group flex-nowrap">

        <input type="datetime" class="form-control" name="CheckIn" id="CheckIn" placeholder="CheckIn" aria-label="CheckIn">
    </div>
    <div class="input-group flex-nowrap">

        <input type="datetime" class="form-control" name="CheckOut" id="CheckOut" placeholder="CheckOut" aria-label="CheckOut">
    </div>
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="AdultCount" id="AdultCount" placeholder="AdultCount" aria-label="AdultCount">
    </div>
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="ChildrenCount" id="ChildrenCount" placeholder="ChildrenCount" aria-label="ChildrenCount">
    </div>
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="RoomCount" id="RoomCount" placeholder="RoomCount" aria-label="RoomCount">
    </div>
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="SpecialRequest" id="SpecialRequest" placeholder="SpecialRequest" aria-label="SpecialRequest">
    </div>
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="Description" id="Description" placeholder="Description" aria-label="Description">
    </div>
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="Status" id="Status" placeholder="Status" aria-label="Status">
    </div>
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="City" id="City" placeholder="City" aria-label="City">
    </div>
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="Country" id="Country" placeholder="Country" aria-label="Country">
    </div>
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="CustomerCount" id="CustomerCount" placeholder="CustomerCount" aria-label="CustomerCount">
    </div>

    <button type="submit" class="btn btn-primary">Ekle</button>
</form>