@using HotelProject.Business.Responses.Booking
@using HotelProject.Entities.Dto_s.BookingDto
@model HotelProject.Business.Requests.Booking.AddBookingRequest
@{
    Layout = "_Layout";
}

<form asp-controller="Booking" asp-action="AddBooking" method="post" enctype="multipart/form-data">
    <div class="input-group flex-nowrap">
        <input asp-for="Name" class="form-control" placeholder="Name" aria-label="Name" />
    </div>
    <div class="input-group flex-nowrap">
        <input asp-for="Mail" class="form-control" placeholder="Mail" aria-label="Mail" />
    </div>
    <div class="input-group flex-nowrap">
        <input asp-for="CheckIn" type="datetime-local" class="form-control" placeholder="CheckIn" aria-label="CheckIn" />
    </div>
    <div class="input-group flex-nowrap">
        <input asp-for="CheckOut" type="datetime-local" class="form-control" placeholder="CheckOut" aria-label="CheckOut" />
    </div>
    <div class="input-group flex-nowrap">
        <input asp-for="AdultCount" class="form-control" placeholder="AdultCount" aria-label="AdultCount" />
    </div>
    <div class="input-group flex-nowrap">
        <input asp-for="ChildrenCount" class="form-control" placeholder="ChildrenCount" aria-label="ChildrenCount" />
    </div>
    <div class="input-group flex-nowrap">
        <input asp-for="RoomCount" class="form-control" placeholder="RoomCount" aria-label="RoomCount" />
    </div>
    <div class="input-group flex-nowrap">
        <input asp-for="SpecialRequest" class="form-control" placeholder="SpecialRequest" aria-label="SpecialRequest" />
    </div>
    <div class="input-group flex-nowrap">
        <input asp-for="Description" class="form-control" placeholder="Description" aria-label="Description" />
    </div>
    <div class="input-group flex-nowrap">
        <input asp-for="Status" class="form-control" placeholder="Status" aria-label="Status" />
    </div>
    <div class="input-group flex-nowrap">
        <input asp-for="City" class="form-control" placeholder="City" aria-label="City" />
    </div>
    <div class="input-group flex-nowrap">
        <input asp-for="Country" class="form-control" placeholder="Country" aria-label="Country" />
    </div>

    <button type="submit" class="btn btn-primary">Ekle</button>
</form>
