@using HotelProject.Business.Responses.Staff
@using HotelProject.Entities.Dto_s.StaffDto
@{
    Layout = "_Layout";
}

<form method="post" enctype="multipart/form-data">
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="Name" id="Name" placeholder="Name" aria-label="Name">
    </div>
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="Title" id="Title" placeholder="Title" aria-label="Title">
    </div>
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="Image" id="Image" placeholder="Image" aria-label="Image">
    </div>
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="Github" id="Github" placeholder="Github" aria-label="Github">
    </div>
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="Instagram" id="Instagram" placeholder="Instagram" aria-label="Instagram">
    </div>
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="Linkedin" id="Linkedin" placeholder="Linkedin" aria-label="Linkedin">
    </div>

    <button type="submit" class="btn btn-primary">Ekle</button>
</form>