@using HotelProject.Business.Responses.WorkLocation
@using HotelProject.Entities.Dto_s.WorkLocationDto
@model HotelProject.Business.Requests.WorkLocation.AddWorkLocationRequest
@{
    Layout = "_Layout";
}

<form asp-action="AddWorkLocation" method="post" enctype="multipart/form-data">
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" asp-for="WorkLocationName" placeholder="Work Location Name" aria-label="WorkLocationName" required />
    </div>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" asp-for="WorkLocationCity" placeholder="Work Location City" aria-label="WorkLocationCity" required />
    </div>

    <button type="submit" class="btn btn-primary">Ekle</button>
</form>
