@using HotelProject.Business.Responses.WorkLocation
@using HotelProject.Entities.Dto_s.WorkLocationDto

@model List<WorkLocationListItemDto>
@{
    Layout = "_Layout";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Work Location Name</th>
            <th scope="col">Work Location City</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="color:blue">@item.Id</td>
                <td style="color:red">@item.WorkLocationName</td>
                <td style="color:red">@item.WorkLocationCity</td>
                <td>
                    <form asp-action="DeleteWorkLocation" asp-controller="WorkLocation" method="post" style="display:inline;">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Bu kaydı silmek istediğinize emin misiniz?');">Sil</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
