<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Bizi Tercih Ettiğiniz İçin Teşekkür Ederiz</div>
        <div class="masthead-heading text-uppercase">Otelimize Hoş Geldiniz</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#portfolio">Odalarımız</a>
    </div>
</header>