@using HotelProject.Business.Responses.Service
@using HotelProject.Entities.Dto_s.ServiceDto
@{
    Layout = "_Layout";
}

<form method="post" enctype="multipart/form-data">
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="Title" id="Title" placeholder="Title" aria-label="Title">
    </div>
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="Icon" id="Icon" placeholder="Icon" aria-label="Icon">
    </div>
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="Description" id="Description" placeholder="Description" aria-label="Description">
    </div>


    <button type="submit" class="btn btn-primary">Ekle</button>
</form>