@using HotelProject.Business.Responses.Service
@using HotelProject.Entities.Dto_s.ServiceDto

@model HotelProject.Business.Requests.Service.UpdateServiceRequest

@{
    Layout = "_Layout";
}
<div style="margin-top:15%">
<form method="post" asp-action="UpdateService" asp-controller="Service" enctype="multipart/form-data">
    <div class="input-group flex-nowrap">
        <input type="hidden" class="form-control" value="@Model.Id" name="Id" id="Id" aria-label="Id">
    </div>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" name="Title" id="Title" value="@Model.Title" placeholder="Title" aria-label="Title" required>
    </div>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" name="Icon" id="Icon" value="@Model.Icon" placeholder="Icon" aria-label="Icon" required />
    </div>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" name="Description" id="Description" value="@Model.Description" placeholder="Description" aria-label="Description" required>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>
</div>