@using HotelProject.Business.Responses.Subscribe
@using HotelProject.Entities.Dto_s.SubscribeDto

@model HotelProject.Business.Requests.Subscribe.UpdateSubscribeRequest

@{
    Layout = "_Layout";
}

<form asp-action="UpdateSubscribe" asp-controller="Subscribe" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" asp-for="Mail" placeholder="Mail" aria-label="Mail" />
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>
