@using HotelProject.Business.Responses.MessageCategory
@using HotelProject.Entities.Dto_s.MessageCategoryDto
@{
    Layout = "_Layout";
}

<form method="post" enctype="multipart/form-data">
    <div class="input-group flex-nowrap">

        <input type="text" class="form-control" name="MessageCategoryName" id="MessageCategoryName" placeholder="MessageCategoryName" aria-label="MessageCategoryName">
    </div>    

    <button type="submit" class="btn btn-primary">Ekle</button>
</form>